html,
body {
  width: 100%;
  height: 100%;
}

.App {
  background-color: #f4f4f4;
}

.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

td,
tr,
th {
  border: 1px solid black;
  padding: 0.3em;
}

th {
  background-color: #c3c3c3;
  padding: 0.3em;
  top: 0;
  z-index: 10;
  position: sticky;
  position: -webkit-sticky;
}
